.title {
	font-weight: 800;
	text-align: center;
	color: white;
	background-color: black;
}

.buttonFix {
	text-align: center;
	padding: 11px 15px !important;
}

.leftText {
	text-align: left;
	padding: 6px;
}
